<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsualización del PDF</title>
</head>
<body>
    <h2>Previsualización de tu Evaluación</h2>
    <iframe src="{{ url_for('ver_pdf', filename=pdf_file.split('/')[-1]) }}" width="100%" height="600px"></iframe>
    
    <br><br>
    <a href="{{ url_for('descargar_pdf', filename=pdf_file.split('/')[-1]) }}">
        <button>Descargar PDF</button>
    </a>
</body>
</html>